<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="All Tests Suite">
    <test name="All Tests">
        <classes>
            <class name="com.example.automation.tests.CheckCareerPageTest"/>
            <!-- Add more test classes here as you create them -->
        </classes>
    </test>
</suite>